<!--{template header}-->
<script language="javascript">
function check(){
if($('#name').val()=='' || $('#phone').val()=='' || $('#content').val()==''){
alert('请将基本信息填写完整，谢谢！');
return false;
}
return true;
}
</script>
<div class="m960">
<div class="t_l">
<div class="l_rc_t" ></div>
<div class="t_area_out rc_t_area_out">
<div class="t_area_in">
<p class="cur_title">商务合作</p>
<div class="sect">
<div class="nleftL">
特别欢迎优质商家、淘宝大卖家提供团购信息。
<form action="?mod=list&code=doteamwork" method="post" onsubmit="return check()">
<div class="field">
<label>您的称呼</label>
<input type="text" name="name" id="name"  class="f_input" value=""  size="30">
</div>
<div class="field">
<label>您的电话</label>
<input type="text" name="phone" id="phone" onblur="checkuname();" class="f_input"size="30">
</div>
<div class="field">
<label>其他联系方式</label>
<input name="elsecontat" type="text" class="f_input" id="elsecontat"  size="30">
<span class="hint">请留下您的手机、QQ号或邮箱，方便联系</span> 
</div>
<div class="field">
<label>团购内容</label>
<textarea name="content" id="content" rows="5" cols="80" class="f-textarea"></textarea>
</div>
<div class="clear"></div>
<div class="act">
<input type="submit" class="formbutton formbutton_invite"  value="提 交">
</div>
</form>
</div>
</div>
</div> 
</div>
<div class="l_rc_b" ></div>
</div>
<div class="t_r">
{~ui('widget')->load()}
</div>
</div>
<!--{template footer}-->
