<!--{template header}-->
<div class="m960">
<div class="t_l">
<div class="l_rc_t" ></div>
<div class="t_area_out rc_t_area_out">
<div class="t_area_in">
<div class="cur_title" >{$act_name}</div>
<!--{if 'base'==$act}-->
<div class="t_area_in sect" >
<form method="POST" action="index.php?mod=get_password&code=do_send">
<li>请输入您注册时填写的邮箱地址/登录Email</li>
<li><input dataType="LimitB" min="6" max="300" msg="请将长度控制在3~50个字符之间" name="to" type="text" class="p1" style="width:320px;" />&nbsp;<input type="submit" class="save formbutton_invite" value="提  交" /></li>
</form>
<li><span>重设密码的邮件会发送到您的邮箱中，按其中的介绍操作即可重设密码</span></li>
</div>
<!--{elseif 'reset'==$act}-->
<div class="set_tag" ><span class="fontRed">*</span>为必填项</div>
<form action="index.php?mod=get_password&code=do_reset" method="POST">
<INPUT TYPE="hidden" name="username" value="{$username}">
<input type="hidden" name="secques" value="{$secques}">
<input type="hidden" name="uid" value="{$uid}">
<input type="hidden" name="id" value="{$id}">
<table border="0" cellspacing="7" cellpadding="0" width="100%">
<tr>
<td width="30%" align="right">用户名：</td>
<td align="left">{$username}</td>
<tr>
<td width="30%" align="right">新密码：</td>
<td align="left">
<input name=password type="password" id="password" maxlength=50 dataType="LimitB" min="7"  msg="密码过短，请设成七位以上。">
</td>
<tr>
<td width="30%" align="right">确认新密码：</td>
<td align="left">
<input name=confirm type="password" id="confirm"  maxlength=50 dataType="Repeat" to="password" msg="两次输入的密码不一致" type="password" >	
</td>
</tr>
<tr class='info_bottom'>
<td colspan="2" align="center">
<input class="save" type="submit" value="提 交">
</td>
</tr>
</table>
</form>
<br /><br />
<!--{/if}-->
</div>
</div>
</div>
<div class="l_rc_b" ></div>
</div>
</div>
<!--{template "footer"}-->