{eval
$_m1=$_m2=$_m3=$_m4=$_m5=2;
$code = $this->Code;
if ($code == '' || $code == 'coupon') $_m1=1;
if ($code == 'order') $_m2=1;
if ($code == 'bill') $_m3=1;
if ($code == 'setting') $_m4=1;
if ($code == 'address') $_m5=1;
}
<div class="ts_menu_2">
<ul>
<li class="ts3_mbtn{$_m1}"><a href="?mod=me&code=coupon">我的团购券</a></li>
<li class="ts3_mbtn{$_m2}"><a href="?mod=me&code=order">我的订单</a></li>
<li class="ts3_mbtn{$_m3}"><a href="?mod=me&code=bill">消费详单</a></li>
<li class="ts3_mbtn{$_m4}"><a href="?mod=me&code=setting">账户设置</a></li>
<li class="ts3_mbtn{$_m5}"><a href="?mod=me&code=address">收货地址</a></li>
</ul>
<div class="clear"></div>
</div>