<!--{template header}-->
<div class="m960">
<div class="ts_menu_2 w960">
<ul>
<li class="ts3_mbtn2"><a href="?mod=seller&code=product&op=list">产品列表</a></li>
<li class="ts3_mbtn1"><a href="?mod=seller&code=product&op=ticket&pid={$pid}">=&gt; 团购券</a></li>
<li class="ts3_mbtn2"><a href="?mod=list&code=ckticket">团购券验证</a></li>
</ul>
<div class="clear"></div>
</div>
<div class="t_area_out">
<div class="t_area_in">
<div class="nleftL w916" style="width:926px;">
<table class="tab_list">
<tr class="banner">
<td colspan="6">
&lt;&lt; {$product['flag']} &gt;&gt; &nbsp;&nbsp;&nbsp;（ 过期时间：{echo date('Y-m-d H:i:s', $product['perioddate'])} ）
<font style="float: right;"><a href="{$fLink['all']['link']}"{$fLink['all']['current']}>全部</a> / <a href="{$fLink['used']['link']}"{$fLink['used']['current']}>已消费</a> / <a href="{$fLink['unused']['link']}"{$fLink['unused']['current']}>未消费</a>&nbsp;&nbsp;&nbsp;</font>
</td>
</tr>
<tr>
<th width="10%">订单号</th>
<th width="10%">用户信息</th>
<th width="20%">团购券号码</th>
<th width="20%">使用时间</th>
<th width="10%">包含份数</th>
<th width="10%">管理操作</th>
</tr>
{loop $tickets $i $ticket}
<tr>
<td>{$ticket['orderid']}</td>
<td>
{echo user($ticket['uid'])->get('name')}
</td>
<td>{$ticket['number']}</td>
<td>
{if $ticket['status'] == TICK_STA_Used}
{$ticket['usetime']}
{else}
{echo logic('coupon')->STA_Name($ticket['status'])}
{/if}
</td>
<td>{$ticket['mutis']}份</td>
<td>
{if $ticket['status'] == TICK_STA_Unused}
<a href="#alert" onclick="ticket_alert(this, {$ticket['ticketid']});return false;">消费提醒</a>
<font style="display: none;"></font>
{/if}
</td>
</tr>
{/loop}
<tr>
<td colspan="6">
{~page_moyo()}
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
<script type="text/javascript">
function ticket_alert(a, id)
{
$(a).hide().next().text('正在通知').css('color', '#999').show();
$.get('?mod=seller&code=ajax&op=alert&id='+id.toString()+$.rnd.stamp(), function(data){
if (data == 'ok')
{
$(a).next().text('已经提醒').css('color', '#007F00');
setTimeout(function(){$(a).show().next().hide()}, 3000);
}
});
}
</script>
<!--{template footer}-->