<!--{template header}-->
<div class="m960">
<div class="t_l">
<div class="l_rc_t" ></div>
<div class="t_area_out rc_t_area_out">
<div class="t_area_in" style="overflow:hidden;_width:695px; _height:100%">
<p class="cur_title">取消订阅</p>
<div class="sect">
<p class="B2">订阅本站可以第一时间获得最新团购信息。</p>
<div class="enter_address" style="width:88%;">
请输入您的邮件地址或者手机号码：
<form action="?mod=subscribe&code=undo&op=confirm" method="post">
<input name="target" type="text" class="f_input" value="{$target}" /> <input type="submit" value="确认" class="formbutton formbutton1 formbutton_invite" style=" margin-left:20px;" />
</form>
</div>
</div>
</div>
</div>
<div class="l_rc_b" ></div>
</div>
<div class="t_r">
{~ui('widget')->load()}
</div>
</div>
<!--{template footer}-->
