<div class="r_m_rc_t"></div>
<div class="t_area_out rc_t_area_out">
<h1>常见问题</h1>
<div class="t_area_in">
<h3 class="first">1.在哪里可以看到我的返利？</h3>
<p>如果邀请成功，在本页面会看到成功邀请列表。在"帐户余额"页，可看到您目前电子帐户的余额。返利金额不返现，可在下次团购时用于支付。</p>
<h3>2.我邀请好友了，什么时候收到返利？</h3>
<p>返利会在 24 小时内返还到您的{conf site_name}帐户，并会发邮件通知您。</p>
<h3>3.哪些情况会导致邀请返利失效？</h3>
<ul class="invalid">
<li>好友点击邀请链接后超过 72 小时才购买</li>
<li>好友购买之前点击了其他人的邀请链接</li>
<li>好友的本次购买不是首次购买</li>
<li>您和好友相互邀请时，仅一人可以获返利</li>
<li>由于最终团购人数没有达到人数下限，本次团购取消</li>
</ul>
<h3>4.自己邀请自己也能获得返利吗？</h3>
<p>不可以。我们会人工核查，对于查实的作弊行为，扣除一切返利，并取消邀请返利的资格。</p>
</div>
</div>
<div class="r_m_rc_b"></div>